*.aux
*.log
*.out
*.toc
*.gz
*.bbl
*.blg
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
./MolecularDynamics/Ex1/data/
./MolecularDynamics/Ex1/build/
./MolecularDynamics/Ex2/data_from_lammps/
./MolecularDynamics/Ex1/.vscode/
./MolecularDynamics/Ex1/journal.md
